Options -Indexes
# Protect sensitive files (Databases, Logs, Config)

<FilesMatch "\.(sqlite|db|log)$|^config\.php$|^\.env$|^logs/.*">
    Order Allow,Deny
    Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirect all requests to index.php if file/dir not found
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

